<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid text-center bg-info p-5 mt-5">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p>
                <a [routerLink]="['/temas']" class="btn btn-primary btn-lg m-2">Ver temas</a>
                <a [routerLink]="['/usuarios']" class="btn btn-success btn-lg m-2">Ver compañeros</a>
                <a [routerLink]="['/panel/crear']" class="btn btn-warning btn-lg m-2">Añade un nuevo tema</a>
            </p>
        </div>
    </div>
</div>